.h1{
    color: rgb(241, 236, 236);
    font-size: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}
.conteiner {
    display: flex;
    background-color: rgb(240, 232, 232);
    border: 5px;
    padding: 0%;
    position: relative;
    
    
}
.button{
    border-radius: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    display: flex;
}
.body {
display: flex;
justify-content: space-between;
}

    
